body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.page-section {
  padding: 2em;
  background-color: #fff;
  margin: 1em 0;
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-color: #fff;
}

.content {
  flex: 1;
  padding: 2em;
}

.avatar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
.background{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0,0),rgba(0,0,0,0,0)),url(pixel.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

}
h1 {
  font-size: 3em;
  margin: 0;
  color: #333;
}

h2 {
  font-size: 2.5em;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

p {
  font-size: 1.2em;
  color: #666;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.card {
  background-color: #fff;
  padding: 2em;
  margin: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin-top: 1em;
}

.card p {
  margin-top: 0.5em;
}
.card button{
  
    transition-duration: 0.4s;
  }
  .btn {

    display: flex;
    align-items: left;
    
    justify-content: left;
}


 

  
  


.creator {
  text-align: center;
  padding: 2em;
  background-color: #fff;
  margin-top: 2em;
}
